<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand" href="#">Cast Generator</p>
      </div>
        <p style="color: rgb(163, 144, 144); text-align: center;">Note: This is only an early version.</p>
        <p style="color: rgb(163, 144, 144); text-align: center;">In future updates, users will be able to customize for their needs.</p>
        <p style="color: rgb(163, 144, 144); text-align: center;">Created by Carl Armstrong. &copy; 2021</p>
    </div>
</nav>